#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}


.read-the-docs {
  color: #888;
}

.error {
  color: red;
  font-weight: 600;
}

.formulario {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 600px;
  height: 500px;
  padding: 20;
}